@import '../../theme/index';
@import '../../theme/mixin';

$prefix: 'welcome' !default;

@include b($prefix) {
  $component-prefix: &;

  box-sizing: border-box;
  display: flex;
  gap: 16px;

  &-icon {
    display: flex;
    height: 58px;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  &-left {
    direction: ltr;
  }
  &-right {
    direction: rtl;
  }

  &-content-wrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: var(--padding-xs);
    align-items: stretch;
    width: 0;

    #{$component-prefix}-title {
      font-size: var(--font-size-heading-4);
      line-height: var(--line-height-heading-4);
      color: var(--color-text-heading);
      overflow-wrap: break-word;

      h4 {
        padding: 0;
        margin: 0;
      }

      &.extra {
        display: flex;
        gap: var(--padding-xs);
        align-items: flex-start;
      }

      #{$component-prefix}-extra {
        margin-inline-start: auto;
      }
    }

    &-description {
      box-sizing: border-box;
      font-size: var(--font-size);
      line-height: var(--line-height);
      color: var(--color-text);
      overflow-wrap: break-word;
    }
  }

  &#{&}-filled {
    padding-block: 12px;
    padding-block: var(--padding-sm);
    padding-inline: 16px;
    padding-inline: var(--padding);
    background: rgb(var(--light), 0.12);
    border-radius: 8px;
    border-radius: var(--border-radius-lg);
  }

  &#{&}-borderless {
    #{$component-prefix}-title {
      font-size: var(--font-size-heading-3);
      line-height: var(--line-height-heading-3);
    }
  }
}
