@use 'sass:map';

$light: #000;
$dark: #fff;

$types: primary, success, warning, danger, error, info;

$colors: () !default;
$colors: map.deep-merge(
  (
    'white': $dark,
    'black': $light,
    'primary': (
      'base': #1677ff,
      'hover': #4096ff,
      'dark': #1677ff,
      'dark-hover': #3c89e8,
    ),
    'success': (
      'base': #52c41a,
      'dark': #49aa19,
    ),
    'warning': (
      'base': #faad14,
      'dark': #d89614,
    ),
    'error': (
      'base': #ff4d4f,
      'dark': #dc4446,
    ),
    'info': (
      'base': #1677ff,
      'dark': #1668dc,
    ),
    'link': (
      'base': #1677ff,
      'dark': #1668dc,
    ),
  ),
  $colors
);

$color-primary: map.get($colors, 'primary', 'base') !default;
$color-primary-hover: map.get($colors, 'primary', 'hover') !default;
$color-success: map.get($colors, 'success', 'base') !default;
$color-warning: map.get($colors, 'warning', 'base') !default;
$color-error: map.get($colors, 'error', 'base') !default;
$color-info: map.get($colors, 'info', 'base') !default;
$color-link: map.get($colors, 'link', 'base') !default;

$color-primary-dark: map.get($colors, 'primary', 'base') !default;
$color-primary-dark-hover: map.get($colors, 'primary', 'hover') !default;
$color-success-dark: map.get($colors, 'success', 'base') !default;
$color-warning-dark: map.get($colors, 'warning', 'base') !default;
$color-error-dark: map.get($colors, 'error', 'base') !default;
$color-info-dark: map.get($colors, 'info', 'base') !default;
$color-link-dark: map.get($colors, 'link', 'base') !default;

$color-text: lighten($light, 85%);
$color-text-disabled: lighten($light, 25%);
$color-text-placeholder: #bfbfbf;
$color-text-description: lighten($light, 45%);
$color-text-tertiary: rgba($dark, 45%);
$color-text-heading: lighten($light, 88%);

$color-fill: lighten($light, 15%);
$color-fill-content: lighten($light, 12%);
$color-fill-content-hover: rgba($light, 18%);
$color-fill-alter: lighten($light, 4%);
$color-fill-tertiary: lighten($light, 8%);
$color-fill-quaternary: lighten($light, 2%);

$color-bg-layout: #fff;
$color-bg-container: #fff;
$color-bg-elevated: #fff;
$color-bg-spotlight: rgb(0 0 0 / 85%);
$color-bg-blur: lighten($dark, 4%);

$border-radius: 6px;
$border-radius-xs: 2px;
$border-radius-sm: 4px;
$border-radius-lg: 8px;
$border-color: #d9d9d9;

$border-secondary: #f0f0f0;

$line-width-bold: 2px;

$padding-xxs: 4px;
$padding-xs: 8px;
$padding-sm: 12px;
$padding: 16px;
$padding-md: 20px;
$padding-lg: 24px;
$padding-xl: 32px;

$margin-xxs: 4px;
$margin-xs: 8px;
$margin-sm: 12px;
$margin: 16px;
$margin-md: 20px;
$margin-lg: 24px;
$margin-xl: 32px;
$margin-xxl: 48px;

$control-padding-horizontal: 12px;
$control-padding-horizontal-sm: 8px;

$padding-content-horizontal-lg: 24px;
$padding-content-vertical-lg: 16px;
$padding-content-horizontal: 16px;
$padding-content-vertical: 12px;
$padding-content-horizontal-sm: 16px;
$padding-content-vertical-sm: 8px;

$font-size-sm: 12px;
$font-size: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;
$font-size-heading-1: 38px;
$font-size-heading-2: 30px;
$font-size-heading-3: 24px;
$font-size-heading-4: 20px;
$font-size-heading-5: 16px;
$line-height: 1.5714;
$line-height-lg: 1.5;
$line-height-sm: 1.6667;
$font-height: 22px;
$font-height-lg: 24px;
$font-height-sm: 20px;

$line-width: 1px;
$line-type: solid;

$box-shadow-tertiary:
  0 1px 2px 0 lighten($light, 3%),
  0 1px 6px -1px lighten($light, 2%),
  0 2px 4px 0 lighten($light, 2%);
$box-shadow-secondary:
  0 6px 16px 0 lighten($light, 8%),
  0 3px 6px -4px lighten($light, 12%),
  0 9px 28px 8px lighten($light, 5%);

$motion-duration-slow: 0.3s;

$attachments-color-bg-placeholder-hover: rgb(255 255 255 / 85%);
