@import './index';

:root {
  --light: 0, 0, 0;
  --dark: 255, 255, 255;
  --color-primary: #{$color-primary};
  --color-primary-hover: #{$color-primary-hover};
  --color-success: #{$color-success};
  --color-warning: #{$color-warning};
  --color-error: #{$color-error};
  --color-info: #{$color-info};
  --color-link: #{$color-link};
  --color-text: rgb(var(--light), 85%);
  --color-text-disabled: rgb(var(--light), 25%);
  --color-text-placeholder: #{$color-text-placeholder};
  --color-text-description: rgb(var(--light), 45%);
  --color-text-tertiary: rgb(var(--light), 45%);
  --color-text-heading: rgb(var(--light), 88%);
  --color-fill: rgb(var(--light), 15%);
  --color-fill-content: rgb(var(--light), 12%);
  --color-fill-content-hover: rgb(var(--light), 18%);
  --color-fill-alter: rgb(var(--light), 4%);
  --color-fill-tertiary: rgb(var(--light), 8%);
  --color-fill-quaternary: rgb(var(--light), 2%);
  --color-bg-layout: rgb(var(--light));
  --color-bg-container: #{$color-bg-container};
  --color-bg-elevated: #{$color-bg-elevated};
  --color-bg-spotlight: #{$color-bg-spotlight};
  --color-bg-blur: rgb(var(--light), 4%);
  --border-radius: 6px;
  --border-radius-xs: 2px;
  --border-radius-sm: 4px;
  --border-radius-lg: 8px;
  --border-color: #{$border-color};
  --border-secondary: #{$border-secondary};
  --line-width-bold: 2px;
  --padding-xxs: 4px;
  --padding-xs: 8px;
  --padding-sm: 12px;
  --padding: 16px;
  --padding-md: 20px;
  --padding-lg: 24px;
  --padding-xl: 32px;
  --margin-xxs: 4px;
  --margin-xs: 8px;
  --margin-sm: 12px;
  --margin: 16px;
  --margin-md: 20px;
  --margin-lg: 24px;
  --margin-xl: 32px;
  --margin-xxl: 48px;
  --control-padding-horizontal: 12px;
  --control-padding-horizontal-sm: 8px;
  --padding-content-horizontal-lg: 24px;
  --padding-content-vertical-lg: 16px;
  --padding-content-horizontal: 16px;
  --padding-content-vertical: 12px;
  --padding-content-horizontal-sm: 16px;
  --padding-content-vertical-sm: 8px;
  --font-size-sm: 12px;
  --font-size: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 20px;
  --font-size-heading-1: 38px;
  --font-size-heading-2: 30px;
  --font-size-heading-3: 24px;
  --font-size-heading-4: 20px;
  --font-size-heading-5: 16px;
  --line-height: 1.5714;
  --line-height-lg: 1.5;
  --line-height-sm: 1.6667;
  --font-height: 22px;
  --font-height-lg: 24px;
  --font-height-sm: 20px;
  --line-width: 1px;
  --line-type: solid;
  --box-shadow-tertiary:
    0 1px 2px 0 #{rgba($light, 3%)}, 0 1px 6px -1px #{rgba($light, 2%)},
    0 2px 4px 0 #{rgba($light, 2%)};
  --box-shadow-secondary:
    0 6px 16px 0 #{rgba($light, 8%)}, 0 3px 6px -4px #{rgba($light, 12%)},
    0 9px 28px 8px #{rgba($light, 5%)};
  --motion-duration-slow: 0.3s;
  --attachments-color-bg-placeholder-hover: #{$attachments-color-bg-placeholder-hover};
}

:root.dark {
  --light: 255, 255, 255;
  --dark: 0, 0, 0;
  --color-light: #{$light};
  --color-dark: #{$dark};
  --color-primary-dark: #{$color-primary-dark};
  --color-primary-dark-hover: #{$color-primary-dark-hover};
  --color-success-dark: #{$color-success-dark};
  --color-warning-dark: #{$color-warning-dark};
  --color-error-dark: #{$color-error-dark};
  --color-info-dark: #{$color-info-dark};
  --color-link-dark: #{$color-link-dark};
  --color-bg-container: #141414;
  --color-bg-elevated: #1f1f1f;
  --color-bg-spotlight: #424242;
  --border-color: #414243;
  --border-secondary: #303030;
  --attachments-color-bg-placeholder-hover: rgb(20 20 20 / 85%);

  color-scheme: dark;
}
